h1{
	font-family: "Raleway", sans-serif;
	color: #FFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}
a{
	font-family: "Raleway", sans-serif;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
	text-decoration: none;
}
a:hover{
	border-color: white;
}
p{
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
img{
	margin:40px 8px;
}
body {
	text-align: center;
	margin: 0;
}
header{
	background-color:#F15B31;
	padding: 30px 20px;
}
nav{
	background-color: #00A6B3;
	padding: 20px 0;
}
main{
	max-width: 850px;
	margin: 35px auto;
}
footer{
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
p.copyright{
	font-family: "Raleway", sans-serif;
	float: left;
}
p.message{
	font-family: "Raleway", sans-serif;
	float: right;
}
footer.clearfix: after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}
span.name{
	color: #F15B31;
	font-weight: 700;
}
